{% extends 'ceiling/base.html' %}
{% load static %}


{% block content %}
<section id="section-colors-preview" class="block">
    <div class="container-1200 grid-center">
        <div class="white">
            <h1 class="vert-margin-50">
                Типы полотен натяжного потолка
            </h1>
            <span>
                Потолки могут быть разных цветов, форм и различных материалов.
            </span>
        </div>
   </div>
</section>
<section id="section-forms" class="block">
    <div class="container-1200 grid-center">
        <div class=" vert-margin-50">
            <h2 class="vert-margin-50">
                Формы
            </h2>
            <span>
                Размещение натяжных потолков в интерьере - отличное решение для современного ремонта. Подходят такие потолки практически для всех стилевых направлений, удачно смотрятся в классическом и современном стиле.
            </span>
        </div>
        <div class="cards-forms">
            <div class="card-form">
                <div class="card-form1">
                </div>
                <div class="vert-padding-20">
                    <h3 class="vert-margin-20">
                        Классические
                    </h3>
                    <span>
                        Эта форма подходит для любого помещения. Полотно размещается горизонтально на одном уровне.
                    </span>
                </div>
            </div>
            <div class="card-form">
                <div class="card-form2">
                </div>
                <div class="vert-padding-20">
                    <h3 class="vert-margin-20">
                        Многоуровневые
                    </h3>
                    <span>
                        С помощью такого решения можно визуально поднять потолок и разделить помещение на зоны.
                    </span>
                </div>
            </div>
            <div class="card-form">
                <div class="card-form4">
                </div>
                <div class="vert-padding-20">
                    <h3 class="vert-margin-20">
                        Арочные
                    </h3>
                    <span>
                        Отличный вариант для полного изменения геометрии пространства.
                    </span>
                </div>
            </div>
            <div class="card-form">
                <div class="card-form3">
                </div>
                <div class="vert-padding-20">
                    <h3 class="vert-margin-20">
                        Звездное небо
                    </h3>
                    <span>
                        Очень популярный вариант. В потолок встроены специальные потолочные точечные светильники.
                    </span>
                </div>
            </div>
        </div>
   </div>
</section>
<section id="section-materials" class="block">
    <div class="container-1200 grid-center">
        <div class=" vert-margin-50">
            <h2 class="vert-margin-50">
                Материалы
            </h2>
            <span>
                Существует две разновидности натяжных потолков
            </span>
        </div>
        <div class="cards-materials">
            <div class="card-materials">
                <div class="card-materials1">
                </div>
                <div class="padding-20">
                    <h3 class="vert-margin-20">
                        Виниловая плёнка (ПВХ)
                    </h3>
                    <span>
                        Очень популярный вариант. В потолок встроены специальные потолочные точечные светильники.
                    </span>
                </div>
            </div>
            <div class="card-materials">
                <div class="card-materials2">
                </div>
                <div class="padding-20">
                    <h3 class="vert-margin-20">
                        Тканевая бесшовная
                    </h3>
                    <span>
                        Очень популярный вариант. В потолок встроены специальные потолочные точечные светильники.
                    </span>
                </div>
            </div>
        </div>
   </div>
</section>
<section id="section-materials" class="block">
    <div class="container-1200 grid-center">
        <div class=" vert-margin-50">
            <h2 class="vert-margin-50">
                Фактуры
            </h2>
            <span>
                Натяжные потолки имеют различные типы поверхностей. Основные из них:
            </span>
        </div>
        <div class="cards-facturs">
            <div class="card-facturs">
                <div class="card-facturs1">
                </div>
                <div class="padding-20">
                    <h3 class="vert-margin-20">
                        Глянцевые
                    </h3>
                    <span>
                        Покрытие отражает свет и обстановку комнаты. Возникает зеркальный эффект, благодаря которому помещение кажется более высоким
                    </span>
                </div>
            </div>
            <div class="card-materials">
                <div class="card-facturs2">
                </div>
                <div class="padding-20">
                    <h3 class="vert-margin-20">
                        Матовые
                    </h3>
                    <span>
                        Покрытие не отражает, а мягко рассеивает свет. Внешне напоминает оштукатуренный или окрашенный потолок.
                    </span>
                </div>
            </div>
            <div class="card-materials">
                <div class="card-facturs3">
                </div>
                <div class="padding-20">
                    <h3 class="vert-margin-20">
                        Сатиновые
                    </h3>
                    <span>
                        Этот вид полотна — имитация ткани со слабовыраженной текстурой. Присутствует лёгкий блеск, но меньше, чем у глянца.
                    </span>
                </div>
            </div>
        </div>
   </div>
</section>
<section id="section-materials" class="block">
    <div class="container-1200 grid-center">
        <div class=" vert-margin-50">
            <h2 class="vert-margin-50">
                Цвета
            </h2>
        </div>
        <div class="card-colors">
            <div class="padding-20">
                <h4 class="vert-margin-20">
                    Сегодня популярны следующие цвета:
                </h4>
                <ul>
                    <li>Серебро</li>
                    <li>Золотой</li>
                    <li>Шампанское</li>
                    <li>Слоновая кость</li>
                    <li>Желтый</li>
                    <li>Сиреневый</li>
                    <li>Бирюзовый</li>
                </ul>
            </div>
            <img width="80%"  src="{% static 'ceiling/images/colors.jpg' %}">
        </div>
        <div style="text-align: left;">
            <p>
                Варианты могут быть самыми необычными, вы легко сможете смонтировать натяжной потолок кремового, зеленого, салатового, оранжевого, фисташкового, персикового цветов.
            </p>
            <p>
                Сочетание разных оттенков и текстур - интересное решение. Вы можете устроить такие потолки в квартире, загородном доме, в коттедже. Интересное решение - использование натяжных потолков с фотопечатью. Фотопечать выполняется только на сатиновом или матовом холсте.
            </p>
        </div>
   </div>
</section>
{% endblock %}