{% extends 'ceiling/base.html' %}
{% load static %}


{% block content %}
<section id="section-install-proc-preview" class="block">
    <div class="container-1200 grid-center">
        <div>
            <h1 class="white">
                Как происходит установка натяжного потолка?
            </h1>
        </div>
   </div>
</section>
<section id="section-text1" class="block">
    <div class="container-1200 grid-center">
        <div class="text-block">
            <span>
                Системы натяжных потолков устанавливаются следующим образом: профиль крепится винтом к стене, раме, потолку или какой-либо другой форме жесткой конструкции. Мембрана подвергается заводской усадке примерно на 6% меньше. На месте материал нагревается до 40-46° С , растягивается и с помощью специальных инструментов-шпателей закрепляется в профильной системе. В качестве заключительного шага - отверстия для встроенного освещения, труб, вентиляционные отверстия, разбрызгиватели и т. д. Вырезаются и накладываются армирующие кольца, позволяющие устанавливать конечные светильники. Команда из двух профессионалов может выполнить монтаж плоского потолка площадью 50-100 квадратных метров в день при условии соблюдения всех необходимых условий монтажа. Фактический монтаж потолка выполняется быстро, чисто и эффективно.
            </span>
            <h2 class="vert-margin-20">
                Необходимые инструменты для начала установки следующие:
            </h2>
            <ul class="vert-margin-20">
                <li>Полотно</li>
                <li>Короткий, длинный и угловой шпатель</li>
                <li>Зажимы (4+)</li>
                <li>Пропановый газовый воздухонагреватель</li>
                <li>Лестница</li>
                <li>Армирующие кольца (для создания отверстий для разбрызгивателей, вентиляционных отверстий, светильников и т. д.)</li>
                <li>Супер клей (для установки армирующих колец)</li>
            </ul>
            <h2 class="vert-margin-20">
                Шаги по установке плоского потолка от стены до стены:
            </h2>
            <ul class="vert-margin-20">
                <li>Перед установкой системы натяжных потолков необходимо выполнить работы по монтажу стен, крыши и электрики.</li>
                <li>Горизонтальная линия должна быть проведена с помощью лазерной или меловой линии, чтобы определить уровень, на котором будут крепиться профили натяжных потолков.</li>
                <li>Профили для всех внутренних и внешних углов должны быть предварительно вырезаны и установлены.</li>
                <li>Все углы по периметру помещения должны быть соединены вместе, чтобы образовать непрерывную линию.</li>
                <li>Все углы и кромки профиля необходимо проверить и при необходимости подшить вручную, чтобы избежать прокола мембраны натяжного потолка.</li>
                <li>Осторожно распакуйте натяжной потолок, не допускайте соприкосновения потолочной мембраны с грязными или незащищенными полами или инструментами. При работе с системой натяжных потолков убедитесь, что у вас чистые руки.</li>
                <li>Используйте специальные зажимы для подвешивания натяжного потолка рядом с угловыми зонами</li>
                <li>Используйте принудительный нагреватель воздуха, чтобы нагреть помещение до 104-110ºF</li>
                <li>Для ускорения монтажа закройте все устройства подачи холодного воздуха, включая двери, окна, кондиционеры и т.д.</li>
                <li>После того, как мембрана станет гибкой и без морщин, можно приступать к монтажу натяжного потолка.</li>
            </ul>
            <h3 class="vert-margin-20">
                Следуйте приведенной ниже схеме, чтобы понять, как мембрана вставляется в профиль.
            </h3>
            <img width="80%"  src="{% static 'ceiling/images/shema.png' %}" alt="схема последовательности монтажа натяжного потолка">
            <ul class="vert-margin-20">
                <li>Вставьте шпатель в гарпун натяжной мембраны. Растяните его и закрепите в профиле</li>
                <li>Начните с первого угла и продолжайте с каждым противоположным углом, пока все углы не будут обрезаны.</li>
                <li>После установки всех углов закрепите натяжную мембрану в центральных зонах. Наконец, закрепите оставшиеся участки мембраны натяжного потолка.</li>
            </ul>
            <img width="60%" src="{% static 'ceiling/images/ceilinginstallation0.jpg' %}" alt="схема крепления полотна натяжного потолка к профилю">
            <h2 class="vert-margin-20">
                Пожалуйста, обратите внимание:
            </h2>
            <span>
                Натяжная мембрана вокруг труб должна быть усилена полупрозрачной акриловой панелью. Система не должна быть видна после установки. Можно изготовить изогнутые профили, чтобы они огибали трубы и другие изогнутые элементы.
            </span>
            <span>
                Все натяжные потолочные мембраны, как правило, уменьшаются на 6%, поэтому после натяжения и установки потолок остается ровным и гарантированно не провисает.
            </span>
            <span>
                Такие аксессуары, как подвесные светильники, вентиляционные отверстия, разбрызгиватели и все, что будет висеть под системой натяжных потолков, должны иметь поддержку сверху. Натяжной потолок не может поддерживать ни одно из этих аксессуаров самостоятельно. Специальные армирующие кольца следует наносить с помощью супер-клея на мембрану, где требуется перфорация.
            </span>
        </div>
   </div>
</section>
{% endblock %}