{% extends 'ceiling/base.html' %}
{% load static %}

{% block content %}
<section id="section-preview" class="block">
    <div class="container-1200 grid-center">
        <div class="margin-top20p white">
            <h1>
                WellLit
            </h1>
        </div>
        <div class="vert-margin-100 white">
            <h3>
                Монтаж натяжных потолков под ключ в Ярославле.
            </h3>
        </div>
   </div>
</section>
<section id="sectiom-promo" class="block"> 
    <div class="container-1200">
        <div class="vert-margin-100 white">
            <div class="block-with-promo">
                <img src="{% static 'ceiling/images/promo-men.png' %}" alt="Мужчина-работник">
                <div class="grid-center">
                    <div class="black">
                        <h2>
                            Мы специализируемся на высококласcных потолочных системах для жилых помещений
                        </h2>
                    </div>
                    <div class="blueline"></div>
                    <div class="black">
                        Наша компания занимается проектированием, поставкой и монтажом натяжных потолков. Мы предлагаем быстрое, профессиональное и качественное потолочное решение для вашего дома в городе Ярославле.
                    </div>
                </div>
            </div>
        </div>
   </div>
</section>
<section id="section-why-ceiling" class="block">
    <div class="container-1200">
        <div class="grid-center black vert-margin-100">
            <h2 class="">
                Почему натяжной потолок - лучшее решение?
            </h2>
            <span class="width-600 vert-margin-50">
                Установка натяжных потолков необходима тем, кто хочет, чтобы их дом был красивым, удобным, уникальным. Вы можете выбрать хороший дизайн, мебель, аксессуары, но самый элегантный интерьер может быть испорчен некачественными потолками.
            </span>
        </div>
   </div>
</section>
<section id="section-ceiling-benefits" class="block">
    <div class="container-1200">
        <div class="benefits-grid">
            <div class="bg-room1 grid-center white">
                <h4 class="vert-margin-20">Красота</h4>
                <span>
                    Вы можете выбрать любую модель, которую вы предпочитаете, среди большого разнообразия текстур, цветов, форм в соответствии со своим вкусом и фантазией, стилем и назначением помещения. Также потолок может оборудоваться любым типом освещения, что дает совершенно иной эффект.
                </span>
            </div>
            <div class="bg-room2 grid-center white">
                <h4 class="vert-margin-20">Функциональность</h4>
                <span>
                    Натяжной потолок скрывает все неровности потолка, трубы, провода и другие коммуникации, защищает ваш дом от потопа. Кроме того, подходящий натяжной потолок увеличивает небольшое пространство. В случае необходимости такую поверхность легко заменить без вложения большого количества времени и денег.
                </span>
            </div>
            <div class="bg-room3 grid-center white">
                <h4 class="vert-margin-20">Экономия времени</h4>
                <span>
                    Для полной установки требуется около 4-5 часов.
                </span>
            </div>
            <div class="bg-room4 grid-center white">
                <h4 class="vert-margin-20">Безопасность</h4>
                <span>
                    Используются только безвредные, устойчивые к грибкам, жаростойкие, прочные материалы.
                </span>
            </div>
        </div>        
   </div>
</section>
<section id="section-why-we" class="block">
    <div class="container-1200">
        <div class="grid-center black  vert-margin-100">
            <h2 class="">
                В чем наше преимущество?
            </h2>
            <span class="width-600 vert-margin-50">
                Очень важно найти надежного подрядчика. Только тогда вы достигнете всех вышеперечисленных условий.
            </span>
        </div>
   </div>
</section>
<section id="section-our-benefits" class="block">
    <div class="container-1200">
        <div class="our-benefits-grid">
            <div class="benefit-cart">   
                <span>
                    Оптимальный баланс между ценой и качеством натяжных потолков
                </span>
                <img class="benefit-cart-icon" src="{% static 'ceiling/images/icon-coins.png' %}" alt="Иконка карточки цена">
            </div>
            <div class="benefit-cart">   
                <span>
                    Широкий ассортимент моделей, представленных в каталоге с реальными образцами нашей работы
                </span>
                <img class="benefit-cart-icon" src="{% static 'ceiling/images/icon-choose.png' %}" alt="Иконка карточки цена">
            </div>
            <div class="benefit-cart">   
                <span>
                    2 года гарантии на наши работы
                    + сервисное обслуживание
                </span>
                <img class="benefit-cart-icon" src="{% static 'ceiling/images/icon-guarantee.png' %}" alt="Иконка карточки цена">
            </div>
            <div class="benefit-cart">   
                <span>
                    Работаем "под ключ": не беспокойтесь о покупке, доставке, выгрузке материалов, уборке после установки
                </span>
                <img class="benefit-cart-icon" src="{% static 'ceiling/images/icon-open-end-wrench.png' %}" alt="Иконка карточки цена">
            </div>
            <div class="benefit-cart">   
                <span>
                    Наши специалисты помогут с выбором, учитывая ваши личные предпочтения, ответят на все ваши вопросы и обеспечат сделку от консультации до завершения услуг
                </span>
                <img class="benefit-cart-icon" src="{% static 'ceiling/images/icon-technical-support.png' %}" alt="Иконка карточки цена">
            </div>
            <div class="benefit-cart">   
                <span>
                    Мы хотим, чтобы вы были одним из наших довольных клиентов. Если вы готовы придать своему интерьеру неповторимый характер, не переплачивая и не получая лишних хлопот, тогда обращайтесь к нам                
                </span>
                <img class="benefit-cart-icon" src="{% static 'ceiling/images/icon-happy.png' %}" alt="Иконка карточки цена">
            </div>
        </div>
   </div>
</section>

<section id="block7" class="block">
    <div class="container-1200">
        <div class="grid-center black">
            <h2 class="vert-margin-50">
                Вопросы и ответы
            </h2>
        </div>
   </div>
</section>

<section id="block8" class="block">
    <div class="container-1200">
        <ul class="grid-center QandA-ul black">
            <li class="closed-block">
                    <button onclick="open_qab(1)" id="quest-answ-block-btn-1" class="quest-answ-block-btn">
                        <h3>
                            Что такое натяжной потолок?
                        </h3>
                        <div class="check-icon">
                            
                        </div>
                    </button>
                <div id="" class="quest-answ-dropdown-block">
                    <p class="">
                        Натяжной потолок - это конструкция, представляющая из себя специальную ткань, натянутая под потолком и закрепленную пластиковыми или алюминиевыми профилями(багетами). Такая технология монтажа позволяет создать идеально ровную поверхность, чего практически невозможно добиться с помощью любых других покрытий.
                    </p>
                    <p>
                        Конструктивные элементы натяжных потолков:
                    </p>
                    <ul>
                        <li>Ткань из поливинилхлорида (ПВХ) или специальная текстильная ткань.</li>
                        <li>Профили, которые надежно фиксируют ткань.</li>
                        <li>Заглушки и вставки, с помощью которых профили соединяются вместе.</li>
                        <li>Люстры, встраиваемые точечные светильники или любой другой светильник по вашему выбору.</li>
                    </ul>
                </div>
            </li>
            <li class="closed-block">
                    <button onclick="open_qab(2)" id="quest-answ-block-btn-2" class="quest-answ-block-btn">
                        <h3>
                            Из чего делаются натяжные потолки?
                        </h3>
                        <div class="check-icon">
                            
                        </div>
                    </button>
                <div id="" class="quest-answ-dropdown-block">
                    <p class="">
                        На современном рынке предлагаются два разных типа натяжных потолков:
                    </p>
                    <ul>
                        <li>
                            тканевый натяжной потолок
                            <p>
                                Тканевое полотно - это не текстиль, как можно подумать, а в основном оно производится путём плетения полиэстеровых нитей с последующей полиуретановой пропиткой для повышения влагоотталкивающих свойств. Такое полотно также подходит для установки на кухне и в ванной комнате.
                            </p>
                            <p>
                                Полиэстер - это синтетический материал, внешне напоминающая хлопчатобумажную или шерстяную ткань, схожий по характеристикам с натуральным хлопком.
                            </p>
                        </li>
                        <li>
                            натяжной потолок из поливинилхлорида(ПВХ)
                            <p>
                                Такое полотно изготавливается из виниловой плёнки. Поливинилхлорид - бесцветная, прозрачная пластмасса. Она отличается высокой стойкостью к различным веществам, а это значит не подвержена "старению". Большим преимуществом такого материала является то, что он не поддерживает горение на воздухе.
                            </p>
                        </li>                    
                    </ul>
                </div>
            </li>
            <li class="closed-block">
                    <button onclick="open_qab(3)" id="quest-answ-block-btn-3" class="quest-answ-block-btn">
                        <h3>
                            Какая высота необходима для установки натяжного потолка?
                        </h3>
                        <div class="check-icon">
                            
                        </div>
                    </button>
                <div id="" class="quest-answ-dropdown-block">
                    <p class="">
                        Натяжные потолки можно устанавливать всего на 2 см ниже существующего потолка.
                    </p>
                </div>
            </li>
            <li class="closed-block">
                    <button onclick="open_qab(4)" id="quest-answ-block-btn-4" class="quest-answ-block-btn">
                        <h3>
                            Можно ли устанавливать осветительные приборы в натяжные потолки?
                        </h3>
                        <div class="check-icon">
                            
                        </div>
                    </button>
                <div id="" class="quest-answ-dropdown-block">
                    <p class="">
                        Да. В натяжные потолки можно устанавливать любые осветительные приборы, такие как люстры, встраиваемые точечные светильники, стационарных или подвижных, или любой другой светильник по вашему выбору. Так же в потолок можно встроить световые линии, что является очень красивым, практичным и современным решением.
                    </p>
                </div>
            </li>
            <li class="closed-block">
                    <button onclick="open_qab(5)" id="quest-answ-block-btn-5" class="quest-answ-block-btn">
                        <h3>
                            Можно ли отремонтировать натяжные потолки?
                        </h3>
                        <div class="check-icon">
                            
                        </div>
                    </button>
                <div id="" class="quest-answ-dropdown-block">
                    <p class="">
                        Натяжные потолки прочные, но их можно порезать острыми предметами. В случае пореза вы должны сначала остановить расширение пореза, заклеив его скотчем, пока специалист не сможет прийти и выполнить постоянный и незаметный ремонт.
                    </p>
                </div>
            </li>
            <li class="closed-block">
                    <button onclick="open_qab(6)" id="quest-answ-block-btn-6" class="quest-answ-block-btn">
                        <h3>
                            Какова продолжительность жизни натяжного потолка?
                        </h3>
                        <div class="check-icon">
                            
                        </div>
                    </button>
                <div id="" class="quest-answ-dropdown-block">
                    <p class="">
                        Натяжные потолки очень долговечны благодаря используемым в них материалам. Они спокойно могут прослужить до 30 лет. Огромный плюс у натяжных потолков в том, что за весь период эксплуатации они не теряют своего первоначального внешнего вида. Поверхность сохраняет эластичность и не требует периодического ремонта.
                    </p>
                </div>
            </li>
        </ul>
   </div>
</section>
{% include 'ceiling/form.html' %}
<script type="text/javascript" src="{% static 'ceiling/js/script.js' %}"></script>
{% endblock %}
