{% extends 'ceiling/base.html' %}
{% load static %}


{% block content %}
<section id="section-sliv-vodi-preview" class="block back-white">
    <div class="container-1200 grid-center">
        <div class="white">
            <h1 class="vert-margin-50">
                Слив воды с натяжного потолка
            </h1>
        </div>
   </div>
</section>
<section class="block back-gray">
    <div class="container-1200 grid-center">
        <div class="black text-block">
            <h2 class="vert-margin-20">
                Мы предоставляем услуги по сливу воды с натяжного потолка
            </h2>
            <div>
                Владельцам жилья, в котором установлен натяжной потолок, иногда приходится сталкиваться с крайне неприятным обстоятельством - затоплением. Такое случается, что соседи сверху по неосторожности залили квартиру водой или потолочные перекрытия пропустили дождевую воду. 
            </div>
            <div>
                В такой ситуации самым правильным решением будет вызвать мастера, который имеет опыт и инструмент для произведения демонтажа, слива воды, а так же мастер и просушит потолок и установит полотно на место.
            </div>
        </div>
   </div>
</section>
<section class="block back-gray">
    <div class="container-1200 grid-center">
        <div class="text-block black">
            <h3 class="vert-margin-20">
                Не стоит переживать
            </h3>
            <div>
                Огромным приемуществом натяжного потолка является то, что:
            </div>
            <div>
                <ul>
                    <li>
                        Натяжные потолки предотвращают повреждение имущества при заливе сверху.
                    </li>
                    <li>
                        Натяжные потолки поддаются ремонту после затопления водой.
                    </li>
                    <li>
                        Быстрое устранение послествий.
                    </li>
                </ul>
            </div>
            <div>
                Ремонт после залива относится к самым простым. Если вас затопило холодной водой, вы вовремя обнаружили и локализовали протечку, понадобится просто слить воду. Для этого первоначально обесточивается комната, после чего гибким шлангом убирается вода. Слив выполняется через ближайшее отверстие светильника или край багета. Если не пострадали закладные светильников и карнизов, цена ремонта после протечки будет минимальна. При большой влажности в помещении рекомендуется оставить край полотна открытым для сушки основания и закладных внутри. Примерно через 3-5 дней мастер вернет полотно на место. Если понадобится замена полотна: цена работ будет зависеть от выбранных материалов.
            </div>
            <span>
        </div>
   </div>
</section>
<section class="block back-gray">
    <div class="container-1200 grid-center">
        <div class="text-block black">
            <h3 class="vert-margin-20">
                Стоимость услуг по сливу воды и востановлению натяжного потолка после потопа.
            </h3>
            <div class="vert-margin-20">
                <ul>
                    <li>
                        Слив воды с натяжного потолка под ключ 3490 руб.
                    </li>
                    <li>
                        Демонтаж - монтаж полотна (для удаления штукатурки, шпаклевки, мусора) + 1500 руб.
                    </li>
                    <li>
                        Демонтаж и монтаж люстры (светильника) на место при сливе бесплатно
                    </li>
                    <li>
                        Осмотр дополнительных потолков в помещениях на предмет залива бесплатно
                    </li>
                </ul>
            </div>
        </div>
   </div>
</section>
{% include 'ceiling/form.html' %}
{% endblock %}